/* High Score Link and Timer Elements at top of page */
header {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#high-score {
    padding-left: 5px;
}

#high-score:hover{
    color: purple;
    font-weight: bold;
    cursor: pointer;
}

#timer {
    padding-right: 5px;
}

/* Start Page */
.start-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    margin: auto;
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleQuestion{
    text-align: center;
}

/* Quiz Section */
.quiz-box {
    display: flex;
    flex-flow: column;
    margin: auto;
    /* width: 50%; */
    /* height: 50%; */
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Submit Page */
.finish-box {
    display: flex;
    flex-flow: column;
    margin: auto;
    /* width: 50%; */
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* High Score Page */
.high-score-box{
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 40%;
    /* height: 50%; */
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.high-score-title{
    margin: 4px;
}

.high-score-list{
    padding-left: 20px;
}

.rules{
    margin-bottom: 25px;
    text-align: center;
}

/* Restyled ordered list to allow easier implementation of background colors on list items */
.questions{
    counter-reset: myOrderedListItemsCounter;
    padding-left: 2px;
    width: 40%;
}

.questions-layout{
    width: 100%;
}

.questions li {
    list-style-type: none;
    position: relative;
}

.questions li:before {
    counter-increment: myOrderedListItemsCounter;
    content: counter(myOrderedListItemsCounter)".";
    margin-right: .5em;
}

.purple {
    background-color: purple;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 3px;
    word-wrap: break-word;
    cursor: pointer;
}

/* Element that appears when user gives a right or wrong answer */
.validity {
    font-style: italic;
    color: rgba(141, 134, 134 );
    padding-top: 2px;
}

.validity-result{
    border-top: 1px solid rgba(141, 134, 134);
}

.input-layout{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
}

/* Final score display */
h4{
    margin-top: 10px;
}


.initial-input{
    margin-left: 4px;
    width: 60%;
}
/* Button to submit user score */
.submit-button{
    background-color: purple;
    color: white;
    border-style: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer
}

.back{
    margin-right: 8px;
}

.options{
    display: flex;
    justify-content: flex-start;
}

/* hides elements when class is added */
.hidden {
    display: none;
}

button{
    background-color: purple;
    color: white;
    border-style: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, li.purple:hover,.submit-button:hover {
    background-color: #399deee0;
    color: #fff;
  }
