header {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#high-score {
    padding-left: 5px;
}

#timer {
    padding-right: 5px;
}

.start-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-box {
    display: flex;
    flex-flow: column;
    margin: auto;
    /* width: 50%; */
    /* height: 50%; */
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.finish-box {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 50%;
    /* border: 2px solid rgb(0, 41, 128); */
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules{
    margin-bottom: 25px;
    text-align: center;
}

.questions{
    counter-reset: myOrderedListItemsCounter;
    padding-left: 2px;
    width: 40%;
}

.questions-layout{
    width: 100%;
}

.questions li {
    list-style-type: none;
    position: relative;
}

.questions li:before {
    counter-increment: myOrderedListItemsCounter;
    content: counter(myOrderedListItemsCounter)".";
    margin-right: .5em;
}

.purple {
    background-color: purple;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 3px;
    word-wrap: break-word;
}


.validity {
    font-style: italic;
    color: rgba(141, 134, 134 );
    padding-top: 2px;
}

.validity-result{
    border-top: 1px solid rgba(141, 134, 134);
}

.input-layout{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
}

h4{
    margin-top: 10px;
}

.initial-input{
    margin-left: 4px;
    width: 20%;
}

.submit-button{
    background-color: purple;
    color: white;
    border-style: none;
    padding: 6px;
    border-radius: 4px;
}

.options{
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

/* .answer-1,.answer-2,.answer-3,.answer-4{
    background-color: purple;
    color: white;
} */